body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section */
.main-content-section {
  padding: 100px 90px;
}

/* about me section */
.about-me {
  /* display: flex;  */
  /* flex-direction: column; */
  margin: 0 0 40px 0;
}

.about-my-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 20px;
}

.my-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin-bottom: 20px;
}

.about-me-description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* my projects section */

.sub-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}

.my-projects {
  margin-bottom: 50;
}
.my-projects-list {
  padding: 0 0 0 17px;
}

.my-projects-item {
  color: #000;
  font-weight: bold;
}

.my-projects-text {
  color: #595959;
  width: 208px;
  height: 72px;
  left: 524px;
  top: 447px;
  font-weight: normal;
  margin-left: 5px;
}

.my-projects-link {
  color: #595959;
  width: 208px;
  height: 72px;
  left: 524px;
  top: 447px;
}

.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

/* My work experience */

.my-work-experience-company {
  color: #fb6d3a;
}

.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}

.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.my-experience-divider {
  color: #000;
}

.my-work-experience-duties {
  padding: 0 0 0 18px;
}

.my-work-experience-duties-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-experience-company-block {
  margin: 0 15px 0 0;
}

/* My eduvation section */

.my-education {
  margin-top: 43px;
}

.my-education-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  margin-bottom: 20px;
}

/* Sidebar section */

.my-photo {
  width: 370px;
  height: 330px;
  left: 40px;
  top: 80px;
}

.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.contacs-section,
.tech-skills-section,
.soft-skills-section {
  margin: 50px 0 0 40px;
  color: #fff;
}
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

/* contacts section */
.contacts-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-right: 7px;
  color: #fff;
}
.contacts-section-link {
  color: #565e6a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* Skills section */

.skills-list {
  padding: 0 0 0 17px;
  /* font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px; */
}

.skills-items {
  color: #fb6d3a;
}

.skills-items-text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* 
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  для краткости при одинаковых значениях margin: 50px; 
  или margin: 50px 100px - где перавое верх/зних, а второе право/лево */
/* чтобы сделать отступы внутри самого блока нужен паддинг */
